$sans-serif: 'Open Sans', Helvetica, Verdana, sans-serif;
$serif: 'Merriweather', Courier, mono;
$containerBackgroundColour: rgba(236, 236, 236, 0.8);
$buttonBackgroundColour: #c1a57b;
$borderColour: #222831;
$buttonHoverColour: #30475e;